<div class="container">
  <div class="car-list">
    <div class="list-item">
        <div class="car-brand">Car brand</div>
        <div class="carInfo">
          <p class="car-model">Model:<br />Model</p>
          <p class="car-colour">Colour:<br />Colour</p>
          <p class="car-year">Year:<br />year</p>
          <p class="car-date">Published on:<br />Date</p>
          <p class="car-owner">Owner:<br />Username</p>
        </div>
      </div>
    <div class="list-item">
      <div class="car-brand">Car brand</div>
      <div class="carInfo">
        <p class="car-model">Model:<br />Model</p>
        <p class="car-colour">Colour:<br />Colour</p>
        <p class="car-year">Year:<br />year</p>
        <p class="car-date">Published on:<br />Date</p>
        <p class="car-owner">Owner:<br />Username</p>
      </div>
    </div>
    <div class="list-item">
        <div class="car-brand">Car brand</div>
        <div class="carInfo">
          <p class="car-model">Model:<br />Model</p>
          <p class="car-colour">Colour:<br />Colour</p>
          <p class="car-year">Year:<br />year</p>
          <p class="car-date">Published on:<br />Date</p>
          <p class="car-owner">Owner:<br />Username</p>
        </div>
      </div>
 
  </div>
</div>
