<div class="container">
        <form class="createContainer" >
            <h1>Car Brand Car Model</h1>
            <div class="infoGroup">
                <label for="brand">
                    <i class="fa-solid fa-car"></i>
                </label>
                <p>{{car.carBrand}}</p>
            </div>
            <div class="infoGroup">
                <label for="model">
                    <i class="fa-solid fa-m"></i>
                </label>
                <p>{{car.carModel}}</p>
            </div>
            <div class="infoGroup">
                <label for="colour">
                    <i class="fa-solid fa-droplet"></i>
                </label>
                <p>{{car.carColour}}</p>
            </div>
            <div class="infoGroup">
                <label for="year">
                    <i class="fa-solid fa-calendar-days"></i>
                </label>
                <p>{{car.carYear}}</p>
            </div>
            <button routerLink="/gallery">Gallery</button>
        </form>
</div>