<div class="container">
    <hgroup>
        <h1><span class="aLetter">A</span><span class="chLetter">CH</span>Cars</h1>
        <h2><span class="blueLetters">Aleksandar</span> <span class="redLetters"> Chemishki </span><span class="blueLetters">Auto</span><span class="redLetters"> Group</span> </h2>
    </hgroup>
    <ul class="navBar">
        <li><a href="">Home</a></li>
        <li><a href="">Gallery</a></li>
        <li><a href="">Post Car</a></li>
        <li><a href="">About</a></li>
    </ul>

    <ul class="loginComponents">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/profile">Alexander's profile</a></li>
        <li><a href="">Logout</a></li>
    </ul>
</div>