<div class="container">
    <form class="createContainer">
        <h1>Post your car</h1>
        <div class="infoGroup">
            <label for="brand">
                <i class="fa-solid fa-car"></i>
            </label>
            <input type="text" placeholder="Brand">
        </div>
        <div class="infoGroup">
            <label for="model">
                <i class="fa-solid fa-m"></i>
            </label>
            <input type="text" placeholder="Model">
        </div>
        <div class="infoGroup">
            <label for="colour">
                <i class="fa-solid fa-droplet"></i>
            </label>
            <input type="text" placeholder="Colour">
        </div>
        <div class="infoGroup">
            <label for="year">
                <i class="fa-solid fa-calendar-days"></i>
            </label>
            <input type="text" placeholder="Year">
        </div>
        <button>Post Car</button>
    </form>
</div>