<div class="container">
  <form class="createContainer" #form="ngForm" (ngSubmit)="addCar(form)">
    <h1>Post your car</h1>
    <div class="infoGroup">
      <label for="brand">
        <i class="fa-solid fa-car"></i>
      </label>
      <input
        type="text"
        name="carBrand"
        id="carBrand"
        placeholder="Brand"
        ngModel
        #inputCarBrand="ngModel"
        required
      />
    </div>
    <div class="infoGroup">
      <label for="model">
        <i class="fa-solid fa-m"></i>
      </label>
      <input
        type="text"
        placeholder="Model"
        name="carModel"
        id="carModel"
        ngModel
        #inputCarModel="ngModel"
        required
      />
    </div>
    <div class="infoGroup">
      <label for="colour">
        <i class="fa-solid fa-droplet"></i>
      </label>
      <input
        type="text"
        placeholder="Colour"
        name="carColour"
        id="carColour"
        ngModel
        #inputCarColor="ngModel"
        required
      />
    </div>
    <div class="infoGroup">
      <label for="year">
        <i class="fa-solid fa-calendar-days"></i>
      </label>
      <input
        type="text"
        placeholder="Year"
        name="carYear"
        id="carYear"
        ngModel
        #inputCarYear="ngModel"
        required
      />
    </div>
    <button>Post Car</button>
  </form>
</div>
