<div class="container">
  <div class="imageWrapper">
    <img src="/wallpaper.jpg" alt="" />
  </div>

  <div class="profile">
    <h1>Username</h1>
    <div class="photo">
      <i class="fa-regular fa-user"></i>
    </div>
    <div class="userInfo">
        <div class="infoGroup">
            <i class="fa-solid fa-user"></i>
            <p>Username</p>
        </div>
        <div class="infoGroup">
            <i class="fa-solid fa-envelope"></i>
            <p>Email</p>
        </div><div class="infoGroup">
            <i class="fa-solid fa-phone"></i>
            <p>Phone Number</p>
        </div>
    </div>
    <button>Edit</button>
  </div>
</div>
