<div class="container">
    <div class="imageWrapper">
      <img src="/wallpaper.jpg" alt="" />
    </div>
  
    <form class="register" [formGroup]="form" (ngSubmit)="register()">
      <h1>Register</h1>
      <fieldset>
        <p class="field">
          <label for="email">
            <span>
                <i class="fa-solid fa-user"></i>
            </span>
          </label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
            formControlName="username"
          />
        </p>
        <p class="field">
          <label for="email">
            <span>
                <i class="fas fa-envelope"></i>
            </span>
          </label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            formControlName="email"
          />
        </p>
        <p class="field">
            <label for="email">
              <span>
                <i class="fa-solid fa-phone"></i>
              </span>
            </label>
            <input
              type="text"
              name="tel"
              id="tel"
              placeholder="Telephone"
              formControlName="tel"
            />
          </p>
          <p class="field">
            <label for="email">
              <span>
                <i class="fas fa-lock"></i>
              </span>
            </label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="password"
              formControlName="password"
            />
          </p>
          <p class="field">
            <label for="email">
              <span>
                <i class="fas fa-lock"></i>
              </span>
            </label>
            <input
              type="password"
              name="rePassword"
              id="rePassword"
              placeholder="Repeat password"
              formControlName="rePassword"
            />
          </p>
          
        <button>Register</button>
        <p class="text">Already have an account? <a routerLink="/login">Login</a></p>
      </fieldset>
    </form>
  </div>
  