<div class="container">
    <div class="imageWrapper">
      <img src="/wallpaper.jpg" alt="" />
    </div>
  
    <form class="register" [formGroup]="form" (ngSubmit)="register()">
      <h1>Register</h1>
      <fieldset>
        <p class="field">
          <label for="email">
            <span>
                <i class="fa-solid fa-user"></i>
            </span>
          </label>
          <input
          [class]="
            isFieldTextMissing('username') || isNotMinLength
              ? 'input-error'
              : ''
          "
            type="text"
            name="username"
            id="username"
            placeholder="Username"
            formControlName="username"
          />
          @if(form.get('username')?.touched) {
            <div>
              @if(form.get('username')?.errors?.['required']) {
              <p class="error">Username is required!</p>
              } @if(form.get('username')?.errors?.['minlength']) {
              <p class="error">Username must be at least 5 characters!</p>
              }
            </div>
            }
        </p>
        <p class="field">
          <label for="email">
            <span>
                <i class="fas fa-envelope"></i>
            </span>
          </label>
          <input
          [class]="
            isFieldTextMissing('email') || isEmailNotValid ? 'input-error' : ''"
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            formControlName="email"
          />
          @if(form.get('email')?.touched) {
            <div>
              @if(form.get('email')?.errors?.['required']) {
              <p class="error">Email is required!</p>
              } @if(form.get('email')?.errors?.['emailValidator']) {
              <p class="error">Email is not valid!</p>
              }
            </div>
            }
        </p>
        <p class="field">
            <label for="email">
              <span>
                <i class="fa-solid fa-phone"></i>
              </span>
            </label>
            <input
              type="text"
              name="tel"
              id="tel"
              placeholder="Telephone"
              formControlName="tel"
            />
          </p>
          <p class="field">
            <label for="email">
              <span>
                <i class="fas fa-lock"></i>
              </span>
            </label>
            <input
            [class]="((passGroup?.get('password')?.touched)
             && (passGroup?.get('password')?.errors?.['required']) 
             || (passGroup?.get('password')?.touched)
              && (passGroup?.get('password')?.errors?.['minlength']))
               ? 'input-error' : ''"
              type="password"
              name="password"
              id="password"
              placeholder="password"
              formControlName="password"
            />
            @if(passGroup?.get('password')?.touched) {
              <div>
                @if(passGroup?.get('password')?.errors?.['required']) {
                <p class="error">Password is required!</p>
                } @if(passGroup?.get('password')?.errors?.['minlength']) {
                <p class="error">Password must be at least 5 characters!</p>
                }
              </div>
              }
          </p>
          <p class="field">
            <label for="email">
              <span>
                <i class="fas fa-lock"></i>
              </span>
            </label>
            <input
            [class]="(
              (passGroup?.get('rePassword')?.touched &&
            (passGroup?.get('rePassword')?.errors?.['required'] || 
            passGroup?.errors?.['matchPasswordsValidator']
            ))
            ) ? 'input-error' : ''"
              type="password"
              name="rePassword"
              id="rePassword"
              placeholder="Repeat password"
              formControlName="rePassword"
            />
            @if (passGroup?.get('rePassword')?.touched) {
              <div>
                @if(passGroup?.get('rePassword')?.errors?.['required'] ||
                passGroup?.errors?.['matchPasswordsValidator'] ) {
                <p class="error">Repeat Password does not match password!</p>
                }
              </div>
              }
          </p>
          
        <button>Register</button>
        <p class="text">Already have an account? <a routerLink="/login">Login</a></p>
      </fieldset>
    </form>
  </div>
  