<div class="container">
    <div class="imageWrapper">
      <img src="/wallpaper.jpg" alt="" />
    </div>
  
    <form class="register" action="">
      <h1>Register</h1>
      <fieldset>
        <p class="field">
          <label for="email">
            <span>
                <i class="fa-solid fa-user"></i>
            </span>
          </label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="username"
          />
        </p>
        <p class="field">
          <label for="email">
            <span>
                <i class="fas fa-envelope"></i>
            </span>
          </label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="john.doe@gmail.com"
          />
        </p>
        <p class="field">
            <label for="email">
              <span>
                <i class="fa-solid fa-phone"></i>
              </span>
            </label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="john.doe@gmail.com"
            />
          </p>
          <p class="field">
            <label for="email">
              <span>
                <i class="fas fa-lock"></i>
              </span>
            </label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="john.doe@gmail.com"
            />
          </p>
          <p class="field">
            <label for="email">
              <span>
                <i class="fas fa-lock"></i>
              </span>
            </label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="john.doe@gmail.com"
            />
          </p>
          
        <button>Register</button>
        <p class="text">Already have an account? <a routerLink="/login">Login</a></p>
      </fieldset>
    </form>
  </div>
  